/* coverstory.css */

.coverstory{width: 100%;}
.coverstory:after{content: ""; display: block; clear: both;}
.coverstory div{width: 25%; height: 400px; float: left; background-size: cover; background-position: 50% 50%;}
.coverstory div:nth-child(1){height: 800px; background-image: url(../img/cont_05.jpg);}
.coverstory div:nth-child(2){background-image: url(../img/cont_01.jpg);}
.coverstory div:nth-child(3){width:50%; background-image: url(../img/cont_10.jpg);}
.coverstory div:nth-child(4){background-image: url(../img/cha_05.jpg);}
.coverstory div:nth-child(5){background-image: url(../img/cont_02.jpg);}
.coverstory div:nth-child(6){background-image: url(../img/cont_09.jpg);}
.coverstory div:nth-child(7){background-image: url(../img/cont_04.jpg)}
.coverstory div:nth-child(8){width:50%; background-image: url(../img/cont_12.jpg);}
.coverstory div:nth-child(9){background-image: url(../img/cont_08.jpg);}


